@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

aside {
  width: 220px;
  height: 95vh;
  background-color: #ffff; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #e5e7eb;
  position: fixed; 
}

aside h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Martian Mono', monospace;
  margin-bottom: 60px;
  margin-left: 15px;
}

aside nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside nav a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  color: #565757;
  text-decoration: none;
  transition: color 0.2s ease;
  padding: 10px 15px;
  border-left: 4px solid transparent;
}

aside nav a:hover {
  color: #1c1c1c; 
}

aside nav a.active{
  background-color: #8693AB;
  color: #ffff;
  border-radius: 10px;
  border-left: 10px solid #8cb4f1;
}

aside button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: #EC221F; /* red */
  cursor: pointer;
  transition: color 0.2s ease;
  margin-bottom: 30px;
}

aside button:hover {
  color: #b91c1c; /* darker red */
  border: none;
}

aside button:active{
  border: none;
}

aside button:focus{
  border: red;
}
